/*form No. 3*/

.contact-form-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 1; 
    margin-top: 100px; 
    padding-bottom: 30px;
}
   
.contact-form-container__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
}

.contact-form__input,
.contact-form__textarea,
.contact-form__button {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.contact-form__label {
    font-weight: 900;
}

.contact-form__button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    width: 150px;
    height: 50px;
}

.contact-form__button:hover {
    background-color: #45a049;
}

.contact-form__textarea {
    height: 150px;
    resize: vertical;
}

.client-type-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.client-type-options__label,
.contact-time-options__label {
    display: inline-block;
}
.contact-form__textarea__size {
    height: 40px;
}


.contact-time-options {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-form-color {
    background-color: white;
    box-shadow:none;
}
